.jumbotron{
	background-color:#06F;
	color:#FFF;
	font:bold 2.5em Viga, Impact, Arial;
	margin-top:50px;
}

.navbar-brand{
	color:white;
}

.card-hotel{
	flex:1 200px;
	margin-top:10px;
}

.card-list{
	height:80px;
	
}

nav{
	font:bold 1.2em Viga,Verdana,Arial;
}

#thumbimg{
	margin-top:8px;
	height:80px;
	width:90px;
	float:left;
}

hgroup{
	padding-left:120px;
}

footer{
	background-color:#06F;
	color:#FFF;
}

section h1,h3{
	font:bold 1.8em Viga, Impact, Arial;
}

p{
	font:1.2em Verdana;
}

.btn-reserva{
	background-color:#3CF;
	color:#FFF;
	width:100%;
}

footer address{
	color:#FFF;
}

footer a{
	font:1.8em Viga,Verdana,Arial;
	color:#FFF;
}

.home-icon{
	color:#FFF;
}

.footer-icons{
	margin-right:8px;
}

.img-fluid{
	width:100%;
	height:300px;
}

.tab-content{
	padding-top:10px;
}

.img-certificado{
	height:500px;
}